<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="{{  static_url("css/main.css")  }}">

</head>
<body>


<div id="ph"><h1>PH</h1><span>0.00</span></div>
<div id="temp"><h1>Temperature / Température</h1><span>0.00</span></div>
<div id="humid"><h1>Humidity / Humidité</h1><span>0.00</span></div>

<div id="mister"><h1>Mister / Brumisateur</h1><span>Off</span></div>


<script type="text/javascript" src="{{  static_url("js/jquery-1.11.3.min.js")  }}"></script>
<script type="text/javascript" src="{{  static_url("js/reconnecting-websocket.min.js")  }}"></script>
<script type="text/javascript" src="{{  static_url("js/main.js")  }}"></script>

</body>
</html>
