body {
    margin: 0;
    padding: 0;
    height: 1080px;
    width: 1920px;
    color: #FFF;
    background-color: #000;
}

h1 {
    text-align: center;
}

div span {
    display: block;
    text-align: center;
    font-size: 2em;
}


